body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    margin: 0;
}

#headerUn {
    position: sticky;
    top: 0;
    background: linear-gradient(135deg, var(--primary-color), #0077ff);
    height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Demander pour espace occupé*/
#headerUn ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#headerUn li,
footer li {
    list-style: none;
}
#headerUn a {
    list-style: none;
    text-decoration: none;
    color: var(--background-color);
}

#headerUn h2 {
    color: var(--background-color);
}

#headerUn h3 {
    font-size: 16px;
    color: var(--background-color);
    font-weight: normal;
}

.titreHeader {
    display: inline;
}

#pageCourante {
    text-decoration: underline;
    opacity: 0.85;
}

footer {
    position: sticky;
    bottom: 0;
    display: flex;
    background-color: var(--footer-bg);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 180px;
}

footer p {
    grid-column: 2 / 3;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: var(--text-color);
}

footer a span {
    color: var(--primary-color);
}
footer section {
    display: flex;
    flex-direction: column;
}

.bouton {
    text-decoration: none;
}
.bouton-contenu {
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-weight: bold;
    border-radius: 30px;
    padding: 12px 24px;
    border-style: none;
    max-width: fit-content;
    text-align: center;
    margin: 5px;
}

.bouton :hover {
    transition: all 0.3s ease;
    background-color: greenyellow;
}

.badgeInfo {
    background-color: #f8f9fa;
    border-radius: 15px;
    padding: 0.3rem 0.8rem;
    font-size: small;
    font-weight: bold;
}

.facile {
    background-color: rgba(57, 181, 74, 0.2);
    color: var(--secondary-color);
    border-radius: 15px;
    padding: 0.3rem 0.8rem;
    font-size: small;
    font-weight: bold;
}

.moyen {
    background-color: rgba(255, 193, 7, 0.2);
    color: #856404;
    border-radius: 15px;
    padding: 0.3rem 0.8rem;
    font-size: small;
    font-weight: bold;
}

.difficile {
    background-color: rgba(220, 53, 69, 0.2);
    color: #721c24;
    border-radius: 15px;
    padding: 0.3rem 0.8rem;
    font-size: small;
    font-weight: bold;
}

main {
    flex: 1;
}

@media (max-width: 768px) {
    #headerUn {
        flex-direction: column;
        text-align: center; /*Demander comment aligner peut faire un div avec largeur fixe aligner gauche*/
    }
    .titreHeader {
        text-align: left;
    }

    h1 {
        font-size: medium;
    }
    h2 {
        font-size: small;
    }
    h3 {
        font-size: smaller;
    }

    h4 {
        font-size: x-small;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: large;
    }
    h2 {
        font-size: medium;
    }
    h3 {
        font-size: small;
    }

    h4 {
        font-size: smaller;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: x-large;
    }
    h2 {
        font-size: large;
    }
    h3 {
        font-size: medium;
    }

    h4 {
        font-size: small;
    }
}
